<h1 class="title">
  <%= @post.title %>
</h1>

<span class="date">
  Submitted <%= time_ago_in_words(@post.created_at) %> ago
</span> |

<%= link_to "Edit", edit_post_path %> |
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>

<p class="text">
  <%= @post.text %>
</p>

<p class="language">
  Translate from <%= @post.language %>
</p>

<p class="tranlate-to">
  Translate to <%= @post.translate_to %>
</p>

<hr>

<div class="translation-group">
  <h2><%= @post.translations.count %> Translations</h2>
  <%= render @post.translations %>

  <h3>Add a translation:</h3>
  <%= render 'translations/form' %>
</div>